.Footer {
    height: 100px;
    text-align: center;
    background-color: rgb(212, 198, 186);
}

i {
    margin: 30px;
    color: rgb(41, 41, 41);
}

i:hover {
    cursor: pointer;
    color: black;
}