.Ideys {
    background-color: rgb(232, 223, 216);
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Loyaut {
    /* display: flex; */
    color: white;
    z-index: 2;
    max-width: 1000px;
    padding: 20px;

}

.Loyaut h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.Dop {
    display: flex;
}

.Dop p {
    margin: 20px 45px;
    font-size: 18px;
}